<h2><%= @track.title %></h2>
<h3>track <%= @track.track_number %> on '<%= @track.album.title %>' by <%= @track.band.name %></h3>
<h5>
  <i><%= link_to "back to album", album_url(@track.album_id) %></i> |
  <i><%= link_to "edit this track", edit_track_url(@track.id) %></i> |
  <i><%= link_to "destroy this track", track_url(@track.id), method: :delete,
         data: {
         confirm: "Leave '#{@track.title}' on the cutting room floor?" }
     %></i>
</h5>

<h4>Lyrics:</h4>
<p>
  <% unless @track.lyrics.empty? %>
    <pre><%= @track.ugly_lyrics(@track.lyrics) %></pre>
  <% else %>
    <i>-instrumental-</i>
  <% end %>
</p>
