<h2><%= @album.title %></h2>
<h3>an album by <%= @album.band.name %></h3>
<h5>
  <i><%= link_to "back to band", band_url(@album.band_id) %></i> |
  <i><%= link_to "edit this album", edit_album_url(@album.id) %></i> |
  <i><%= link_to "create a new track", new_album_track_url(@album.id) %></i> |
  <i><%= link_to "destroy this album", album_url(@album.id), method: :delete,
         data: {
         confirm:
        "Consign '#{@album.title}' (and all its tracks) to the bargain bin?"
               }
     %></i>
</h5>

<% @album.tracks.sort_by { |t| t.track_number }.each do |track| %>
  <p>
    <%= track.track_number %>. <%= link_to "#{track.title}", track_url(track.id) %>
  </p>
<% end %>
