<h1><%= "#{@band.name}" %></h1>
<h5>
  <i><%= link_to "back to index", bands_url %></i> |
  <i>(edit this band)</i> |
  <i><%= link_to "create a new album", new_band_album_url(@band.id) %></i>
   |
  <i><%= link_to "destroy this band", band_url(@band.id), method: :delete,
         data: {
         confirm:
        "Consign #{@band.name} (and all their works) to the dustbin of history?"
               }
     %>
  </i>
</h5>

<ul>
  <% @band.albums.each do |album| %>
    <li>
      <%= link_to "#{album.title}", album_url(album.id) %>
    </li>
  <% end %>
</ul>
